@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a202c; /* dark gray background, you can change this color */
    color: white; /* ensures text is white */
    margin: 0; /* remove default margin */
  }
  
  /* Optional: Set styles for html to cover full height */
  html, body {
    height: 100%;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee linear infinite;
  }
  